@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #1A8796;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: black;  
    font-family: "Poppins", system-ui;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 7rem;
    padding-right: 7rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}
.logo img{
    height: 50px;
}
.menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.menu-item{
    display: flex;
    gap: 40px;
}
.menu-item a:hover{
    font-weight: bold;
    transition: all;
    transition-duration: 400ms;
    transition: ease-in;
}
.signup-button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--primary-color);  
    border-radius: 4px;
    color: white;
    font-weight: 500;
}